
\.idea/

server/target/

server/mysql-data/

server/dependency-reduced-pom\.xml

server/\.project

server/\.classpath

server/\.settings/org\.eclipse\.jdt\.core\.prefs

server/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

server/\.settings/org\.eclipse\.m2e\.core\.prefs

npm-cache