
\.idea/

Übung02/HibernateTest/target/

Übung02/HibernateTest/mysql-data/

Übung02/HibernateTest/dependency-reduced-pom\.xml

Übung02/HibernateTest/\.project

Übung02/HibernateTest/\.classpath

Übung02/HibernateTest/\.settings/org\.eclipse\.jdt\.core\.prefs

Übung02/HibernateTest/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

Übung02/HibernateTest/\.settings/org\.eclipse\.m2e\.core\.prefs
